.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 350px;
    left: 140px;
  }
  
  .baloon {
      position: absolute;
      z-index: 3;
      left: 400px;
      top: 10px;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    left: 420px;
    top: 50px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    left: 700px;
  }